<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="navbar :: head(~{::title}, ~{::link})">
    <title>Update city</title>
    <link rel="stylesheet" href="/style/todoupdate.css">
</head>
<body>


<div class="container m-5">

    <form th:action="@{/admin/update/city/{id}(id=${city.getId()})}" method="post">
        <label>
            <input th:value="${city.getName()}" class="form-control" type="text" name="name" placeholder="enter name">
        </label>

        <label>
            <input th:value="${city.getCountry()}" type="text" class="form-control" name="country" placeholder="enter country">
        </label>
        <br>
        <div class="my-3">
            <button class="btn btn-success" type="submit">Update</button>
            <a href="/admin/cities/list" class="btn btn-warning">Back</a>
        </div>
    </form>
</div>
</body>
</html>