<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:replace="navbar :: head(~{::title}, ~{::link})">
    <title>City Weather</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<div class="container">
    <div th:replace="navbar :: header"></div>

    <a class="btn btn-success" th:href="@{/admin/add/weather/{id}(id=${city_id})}">Add Weather</a>

    <table class="my-5 table table-dark">
        <thead class="table table-success">
        <tr>
            <th>ID</th>
            <th>CITY_ID</th>
            <th>CELSIUS</th>
            <th>FAHRENHEIT</th>
            <th>DATE</th>
            <th>ACTION</th>
        </tr>
        </thead>

        <tbody class="table table-primary">
        <tr th:each="weather : ${weathers}">
            <td th:text="${weather.getId()}"></td>
            <td th:text="${weather.getCity_id()}"></td>
            <td th:text="${weather.getCelsius()}"></td>
            <td th:text="${weather.getFahrenheit()}"></td>
            <td th:text="${weather.getDate()}"></td>
            <td>
                <form th:action="@{/admin/delete/weather/{id}(id=${weather.getId()})}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>